@model List<Order>
@{
    ViewData["Title"] = "View Orders";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>View Orders</h1>
        @if (User.IsInRole("Employee"))
        {
            <a asp-action="ViewRequiredOrders" class="btn btn-primary text-decoration-none" asp-controller="Employee">View My Required Tasks</a>
        }
    </div>
    @if (Model == null || !Model.Any())
    {
        <h1 class="text-center">No Tasks</h1>
    }
    else
    {
        <table class="table table-hover table-light table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Order Address</th>
                    <th>Order Date</th>
                    <th>Order Price</th>
                    <th>Delivery Fee</th>
                    <th>Total Price</th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th>Order Status</th>
                    }
                    <th>Order Products</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Order o in Model)
                {
                    <tr>
                        <td>@o.ID</td>
                        <td>@o.user.City, @o.user.Governorate, @o.user.Address</td>
                        <td>@o.OrderDate </td>
                        <td>@o.TotalPrice</td>
                        <td>@o.DeliveryFee</td>
                        <td>@o.FinalPrice</td>
                        @if(User.IsInRole("Admin")){
                            <td>@o.OrderStatus</td>
                        }
                        <td>@foreach (OrderProduct op in o.OrderProducts) {
								<h5>@op.product.Name - @op.Variant.Size.SizeName - @op.Variant.Color.ColorName (@op.Quantity)</h5>
                            }
                </td>
                        <td>
                    @if(User.IsInRole("Employee")){
                        <form method="post" asp-action="AcceptOrder" asp-controller="Employee">
                            <input name="ID" value="@o.ID" hidden />
                            <input name="OrderAddress" value="@o.user.Address" hidden>
                            <input name="OrderDate" value="@o.OrderDate" hidden>
                            <input name="OrderPrice" value="@o.OrderPrice" hidden>
                            <input name="DeliveryFee" value="@o.DeliveryFee" hidden>
                            <input name="OrderStatus" value="@o.OrderStatus" hidden>
                            <input name="UserID" value="@o.UserID" hidden>
                            <input name="EmpID" value="@o.EmpID" hidden>
                            <input name="TotalPrice" value="@o.TotalPrice" hidden>
                            @if(o.EmpID==null){
                            <button type="submit" class="btn btn-primary">Accept</button>
}
else{
                                        <button type="submit" class="btn btn-primary" disabled>Done</button>

                                    }
                        </form>
}
                    </td>

                </tr>
            }

    </tbody>
</table>
}

</div>